.message-friend[b-i33proe1mj] {
    width: calc(100% - 0.5vw);
    height: 5vh;
    margin-bottom: 10px;
    border:none;
    border-radius: 10px;
    margin-left: 0.5vw;
}

.user-icon[b-i33proe1mj]{
    border-radius: 50%;
    background-color: white;
    aspect-ratio: 1;
    height: 80%;
    align-self: center;
    align-content: center;
    margin-left: 0.5vw;
}

.unread-icon[b-i33proe1mj]{
    background-color: red;
    color: white;
    aspect-ratio: 1;
    height: 2vh;
    position: absolute;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}