@rendermode InteractiveServer
<div>
    <FriendsSidebarButton></FriendsSidebarButton>
    @foreach (string serverName in GetServers())
    {
        <ServerSidebarbutton></ServerSidebarbutton>
    }

</div>

@code {
    
}